<div class="row">
  <div class="col-xs-12">
    <img 
    [src]="itemInDetail.imagePath" 
    alt="{{itemInDetail.name}}"
    class="img-responsive"
    style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{itemInDetail.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div 
      class="btn-group"
      appDropdown>
      <button class="btn btn-primary dropdown-toggle">Manage <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a (click) = "onAddToShoppinList()" style ="cursor: pointer">To shopping list</a></li>
          <li><a>Edit list</a></li>
          <li><a>DElete list</a></li>
        </ul>
      
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{itemInDetail.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" 
      *ngFor = "let ing of itemInDetail.ingredients">
        {{ing.name}} - {{ing.amount}}
      </li>
    </ul>
  </div>
</div>